@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    position: relative;
    padding: 5rem 0;
    @include m.tablet {
        min-height: 70rem;
    }
    @include m.desktopXL {
        background-repeat: no-repeat;
        background-size: cover;
    }
    &::before {
        content: '';
        position: absolute;
        background-color: v.$negro;
        inset: 0;
        opacity: .6;
    }
}
.header__contenido {
    position: relative;
}
.header__texto {
    color: v.$blanco;
    text-align: center;
    text-transform: uppercase;
    margin: 5rem;
    @include m.tablet {
        margin-top: 10rem;
    }

}

// Header pagina inicio 
.not-avif .not-webp .header--inicio {
    background-image: url(../img/header_inicio.jpg);
}
.avif .header--inicio {
    background-image: url(../img/header_inicio.avif);
}
.webp .header--inicio {
    background-image: url(../img/header_inicio.webp);
}

// Header pagina nosotros
.not-avif .not-webp .header--nosotros {
    background-image: url(../img/header_nosotros.jpg);
}
.avif .header--nosotros {
    background-image: url(../img/header_nosotros.avif);
}
.webp .header--nosotros {
    background-image: url(../img/header_nosotros.webp);
}

// Header pagina proceso
.not-avif .not-webp .header--proceso {
    background-image: url(../img/header_proceso.jpg);
}
.avif .header--proceso {
    background-image: url(../img/header_proceso.avif);
}
.webp .header--proceso {
    background-image: url(../img/header_proceso.webp);
}

// Header pagina menu
.not-avif .not-webp .header--menu {
    background-image: url(../img/header_menu.jpg);
}
.avif .header--menu {
    background-image: url(../img/header_menu.avif);
}
.webp .header--menu {
    background-image: url(../img/header_menu.webp);
}

// Header pagina galeria
.not-avif .not-webp .header--galeria {
    background-image: url(../img/header_galeria.jpg);
}
.avif .header--galeria {
    background-image: url(../img/header_galeria.avif);
}
.webp .header--galeria {
    background-image: url(../img/header_galeria.webp);
}

// Header pagina contacto
.not-avif .not-webp .header--contacto {
    background-image: url(../img/header_contacto.jpg);
}
.avif .header--contacto {
    background-image: url(../img/header_contacto.avif);
}
.webp .header--contacto {
    background-image: url(../img/header_contacto.webp);
}